h1 {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

.tabs {
  border: 1px solid #cccccc;
  display: flex;
}

.tabs__sidebar {
  width: 150px;
  flex-shrink: 0;
  background: #cccccc;
}

.tabs__button {
  display: block;
  padding: 10px;
  background: #eeeeee;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tabs__button--active {
  font-weight: bold;
  border-right: 6px solid cornflowerblue;
  background: #dddddd;
}

.tabs__content {
  padding: 60px 15px 60px 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs__content--active {
  display: block;
}

.tabs__content > :first-child {
  margin-top: 0;
}

.image__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
