h1 {
  display: flex;
  justify-content: center;
  color: #444258;
}

body {
  margin: 0;
}

header {
  background: #e2e2db;
  border-bottom-color: #444258;
  border-bottom: 1px;
}

h1 {
  margin: 0;
  padding: 30px;
  color: #444258;
  font-size: 42px;
}

h2 {
  text-align: center;
  color: #444258;
  font-size: 24px;
}

 h3 {
  text-align: center;
  color: white;
  font-size: 18px;
 }

.tabs {
  border: 1px solid #cccccc;
  display: flex;
  background-image: url("images/the-cottage.jpeg");
  background-size: cover;
}

.tabs__sidebar {
  width: 150px;
  flex-shrink: 0;
  background: #444258;
}

.tabs__button {
  display: block;
  padding: 10px;
  background: #d2b48c;
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tabs__button--active {
  font-weight: bold;
  border-right: 6px solid cornflowerblue;
  background: #c0c0c0;
}

.tabs__content {
  padding: 60px 15px 60px 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs__content--active {
  display: block;
}

.tabs__content > :first-child {
  margin-top: 0;
}

.image__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.img__port {
  margin: 15px;
  border-radius: 5px;
  height: 350px;
  width: 225px;
  transition: transform .2s;
}

.img__port:hover {
    transform: scale(2.0);
}

.img__land {
  margin: 15px;
  border-radius: 5px;
  width: 350px;
  height: 225px;
  transition: transform .2s;
}

.img__land:hover {
    transform: scale(2.0);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #e2e2db;
}

.insta__logo {
  height: 55px;
  width: 55px;
}

.developer {
  text-decoration: none;
  color: #444258;
}

@media (max-width: 480px) {
  .tabs__sidebar {
    width: 19%;
  }

  .tabs {
    width: 100%;
  }

  .image__container {
    width: 200px;
  }
}

@media (max-width: 570px) {
  .tabs__content--active {
    width: 100%;
  }

  .img__land {
    width: 250px;
    height: 175px;
  }
}